img {
    image-orientation: from-image;
}

img.mainlogo {
    image-orientation: from-image;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    margin: 50px auto 50px;
    display: block;
}

img.gamecover{
    image-orientation: from-image;
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

img.person {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

img.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.coveroverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 50%;
}

.container {
    position: relative;
    width: 500px;
    margin: 50px 50px 50px;
}

.container:hover .coveroverlay {
    opacity: .7;
}

.covertext {
    color: purple;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Verdana";
    text-transform: uppercase;
}

.aboutcontainer{
    margin-left: 300px;
    margin-bottom: 50px;
    margin-right: 300px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.infofield {
    margin: 0px 300px 50px 300px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
}

body {
    background-color: whitesmoke;
}

p {
    font-family: "Verdana";
    color: purple;
}

h1, h2, h3 {
    font-family: "Verdana";
    color: purple;
    text-transform:uppercase;
}

h1 {
    text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: inherit;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 25%;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: "Verdana";
    font-size: 1.5vw;
    color: purple;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 5px solid plum;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 5px solid purple;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    background-color: lavender;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}